@import '../../sassStyles/global.scss';

// --- HERO SECTION ---

.hero-section {
    background-color: $primary-black;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/hero-img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
}

.hero-container {
    margin: 0 auto;
    max-width: 1200px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    max-width: 700px;
    min-height: 100vh;
}

.hero-title {
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke: 2px $brand-orange;
    color: transparent;
    font-size: 4rem;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
}

.hero-title-filled {
    color: $brand-orange;
}

.hero-desc {
    font-size: 1.25rem;
    line-height: 28px;
    color: $primary-white;
    margin: 0;
    margin-bottom: 40px;
}

.hero-btn {
    color: $primary-white;
    @include linear-gradient($direction, $big-btn-default);
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 20px;

    &:hover,
    &:focus {
        @include linear-gradient($direction, $big-btn-hover);
    }

    &:active {
        @include linear-gradient($direction, $big-btn-pressed);
    }
}

.hero-img {
    width: 100%;
    max-width: 530px;
}

// --- BANNER SECTION ---

.banner {
    min-height: 50vh;
    background-color: $brand-orange;
}

.banner-card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    height: 480px;
    width: 100%;

    min-width: 50%;

    flex-grow: 1;
    border-radius: 15px;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.5);
}

.banner-gradient {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 0) 100%
    );
}

.subsection-container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center; // Center the text
}

.subsection-desc {
    font-size: 64px;
    font-weight: 700;
    color: $primary-white;
    text-transform: uppercase;
}
