@import '../../sassStyles/global.scss';

body {
    background-color: $secondary-dark;
}

.exercise-wrapper {
    padding: 120px 0;

    .exercise-list-title {
        font-family: 'Poppins', sans-serif;
        text-transform: capitalize;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        color: transparent;
        -webkit-text-stroke: 1px $primary-white;
        margin-bottom: 20px;

        @media (max-width: 600px) {
            font-size: 2rem;
        }
    }
}

.title {
    color: $primary-white;
    text-transform: uppercase;
    font-size: 2rem;
}

.exercise-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;

    .exercise-input {
        width: 100%;
    }

    .exercise-input-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 15px;
        text-transform: uppercase;
        gap: 10px;
        color: $primary-white;
        background-color: $primary-btn-default;
        font-size: 1rem;
        font-weight: 600;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            background-color: $primary-btn-hover;
        }

        &:active {
            background-color: $primary-btn-pressed;
        }
    }

    .db-icon {
        color: $primary-black;
    }
}

.filter-container {
    margin-bottom: 20px;
}

.exercise-container {
    justify-content: center;
    align-items: stretch;
    margin-bottom: 40px;
}

.exercise-card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    min-height: 250px;
    width: 100%;
    max-width: 350px;
    flex-grow: 1;
    border-radius: 15px;

    box-shadow: 10px 10px 25px rgba($color: #000000, $alpha: 0.5);
    border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
    border-left: 1px solid rgba($color: #fff, $alpha: 0.5);

    .exercise-content {
        color: $primary-white;
        text-align: left;
        font-size: 24px;
        line-height: 28px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    .card-gradient {
        position: absolute;
        inset: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 100%
        );
    }

    .exercise-title {
        font-family: 'Poppins', sans-serif;
        font-size: 1.25rem;
        text-transform: uppercase;
        text-shadow: 0 0 4px rgba($color: $primary-black, $alpha: 0.5);
    }

    .exercise-desc {
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
        font-size: 0.75rem;
    }

    .exercise-btn {
        background-color: $primary-btn-default;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1;
        padding: 10px;
        border-radius: 50px;

        &:hover,
        &:focus {
            transition: all 0.3s ease-in-out;
            background-color: $primary-btn-hover;
        }

        &:active {
            background-color: $primary-btn-pressed;
        }
    }
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

    .tag-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .tag-text {
            font-size: 0.5rem;
            text-transform: uppercase;
            color: $primary-black;
            background-color: $primary-white;
            border-radius: 4px;
            padding: 5px;
            line-height: 1;
        }
    }

    .fav-btn {
        color: $primary-white;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            scale: 1.2;
        }
    }
}

.load-exercise-btn {
    background-color: $primary-btn-default;
    color: $primary-white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding: 15px 20px;
    border-radius: 50px;
    margin-bottom: 60px;

    &:hover,
    &:focus {
        background-color: $primary-btn-hover;
    }

    &:active {
        background-color: $primary-btn-pressed;
    }
}

.error-message {
    font-size: 2rem;
    font-weight: 500;
    color: $primary-white;
}

// --- MODAL ---
.ex-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.ex-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 15px;
    overflow-y: auto;

    background: rgba($color: $primary-white, $alpha: 0.1);
    box-shadow: 20px 20px 50px rgba($color: #000000, $alpha: 0.5);
    border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
    border-left: 1px solid rgba($color: #fff, $alpha: 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.ex-modal-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .ex-modal-desc-info {
        color: $primary-white;

        .ex-modal-title {
            font-size: 1.5rem;
            margin-bottom: 20px;

            @media (max-width: 620px) {
                font-size: 1.25rem;
            }
        }

        .ex-modal-text {
            font-size: 1.25rem;
            line-height: 32px;
            text-align: left;

            @media (max-width: 620px) {
                font-size: 1rem;
            }
        }
    }
}

.ex-modal-btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;

    .ex-modal-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: $primary-white;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
            color: $primary-btn-hover;
        }

        &:active {
            color: $primary-btn-pressed;
        }
    }
}

.ex-modal-image {
    max-height: 250px;
    max-width: 250px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

// --- MUI ---
.exercise-input .MuiInputLabel-root,
.equipment-dropdown .MuiInputLabel-root {
    color: $brand-orange;
}

.exercise-input .MuiInputLabel-root.Mui-focused {
    color: $brand-orange;
}

.exercise-input .MuiInputBase-input,
.equipment-dropdown .MuiInputBase-input {
    width: 100%;
    color: $primary-white;
}

.exercise-input .MuiFilledInput-root {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.exercise-input .MuiFilledInput-root::before,
.exercise-input .MuiFilledInput-root::after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.equipment-dropdown .MuiFormHelperText-root {
    color: $primary-white;
}
