@import '../sassStyles/global.scss';

.nav-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: $secondary, $alpha: 1);
    z-index: 100;

    &.scrolled {
        background: rgba($color: $secondary, $alpha: 0.5);
        backdrop-filter: blur(10px);
    }
}

.navigation {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    max-width: 120px;
}

.nav-list {
    color: $primary-white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-item {
    display: flex;
    gap: 30px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: $brand-orange;
    color: $primary-white;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 10px;
    border-radius: 50px;
    white-space: nowrap;
}
