@import '../../sassStyles/global.scss';

.login-container {
    padding: 120px 20px 0 20px;
    max-width: 800px;
    margin: 0 auto;
}

.login-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: $primary-white;
    margin-bottom: 10px;
}

.login-text {
    font-size: 24px;
    color: $primary-white;
    margin-bottom: 40px;
}

.login-type {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.login-btn {
    color: $primary-white;
    background-color: $primary-black;
    width: 100%;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px;
}

.login-btn.active {
    color: $primary-black;
    background-color: $primary-white;
    border-radius: 50px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px;
}

.submit-btn {
    color: $primary-white;
    background: linear-gradient(90deg, #e8590c, #ffa94d);
    border-radius: 50px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px;
}

.form-control {
    width: 100%;
    font-size: 24px;
    border-radius: 50px;
    border: none;
    text-align: left;
    margin-bottom: 40px;
}

.form-label {
    color: $primary-white;
}

.login-credentials {
    margin-top: 10px;
    padding: 20px;
}
