@import '../../sassStyles/global.scss';

.login-container {
    padding: 120px 20px 0 20px;
    max-width: 800px;
    margin: 0 auto;
}

.login-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: $primary-white;
    margin-bottom: 10px;
}

.login-text {
    font-size: 24px;
    color: $primary-white;
    margin-bottom: 40px;
}

.login-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 40px;
}

.login-btn {
    background-color: $secondary-btn-default;
    color: $primary-white;
    width: 100%;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: $secondary-btn-hover;
        color: $primary-black;
    }

    &:active {
        background-color: $secondary-btn-pressed;
        color: $primary-white;
    }
}

.login-btn.active {
    background-color: $secondary-btn-hover;
    color: $primary-black;
    border-radius: 50px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px;
}

.submit-btn {
    color: $primary-white;
    @include linear-gradient($direction, $big-btn-default);
    border-radius: 50px;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 15px;
    margin-bottom: 10px;

    &:hover,
    &:focus {
        @include linear-gradient($direction, $big-btn-hover);
    }

    &:active {
        @include linear-gradient($direction, $big-btn-pressed);
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 24px;
    border-radius: 50px;
    border: none;
    text-align: left;
}

.form-label {
    color: $primary-white;
}

.login-credentials,
.signup-credentials {
    margin-top: 10px;
    padding: 20px;
}

.login-credentials {
    margin-bottom: 20px;
}

.signup-credentials {
    margin-bottom: 40px;
}

.error {
    color: #e03131;
    font-size: 1rem;
}
