@import '../../sassStyles/global';

// --- EXERCISE ---

.exercise-modal,
.workout-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 1px $brand-orange;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.add-workout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .workout-modal-input {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-white;
        margin-bottom: 10px;
    }
}

.add-exercise-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;

    .add-exercise-row {
        display: flex;
        gap: 20px;
        width: 100%;
    }
}

.dynamic-exercise-module {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;

    .dynamic-exercise-row {
        display: flex;
        gap: 20px;
        width: 100%;
    }
}

// --- BUTTONS ---

.close-form-btn {
    display: block;
    margin: auto;
    margin-right: 0;
    font-size: 2rem;
    margin-bottom: 10px;
    color: $primary-btn-default;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        color: $primary-btn-hover;
    }

    &:active {
        color: $primary-btn-pressed;
    }
}

.add-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $primary-white;
    background-color: $success;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 50px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: $success-hover;
    }

    &:active {
        background-color: $success-pressed;
    }
}

.save-icon {
    font-size: 1.25rem;
    margin-left: 10px;
}

// --- MUI ---
.add-exercise-modal-input .MuiInputLabel-root,
.dynamic-exercise-input .MuiInputLabel-root,
.workout-modal-input .MuiInputLabel-root {
    color: $brand-orange;
}

.add-exercise-modal-input .MuiInputLabel-root.Mui-focused,
.dynamic-exercise-input .MuiInputLabel-root.Mui-focused,
.workout-modal-input .MuiInputLabel-root {
    color: $brand-orange;
}

.add-exercise-modal-input .MuiFilledInput-root,
.dynamic-exercise-input .MuiFilledInput-root,
.workout-modal-input .MuiFilledInput-root {
    color: $primary-white;
    border-radius: 10px;
}

.add-exercise-modal-input .MuiFilledInput-root::before,
.workout-modal-input .MuiFilledInput-root::before,
.add-exercise-modal-input .MuiFilledInput-root::after,
.workout-modal-input .MuiFilledInput-root::after,
.dynamic-exercise-input .MuiFilledInput-root::before,
.dynamic-exercise-input .MuiFilledInput-root::after {
    border-radius: 10px;
}

// --- MEDIA QUERY ---

@media (max-width: 900px) {
    .exercise-modal .MuiContainer-root {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .add-form-btn {
        font-size: 0;
        justify-content: center;
        align-items: center;
    }

    .save-icon {
        margin-left: 0;
        font-size: 1.5rem;
        padding: 5px;
    }
}
