@import '../../sassStyles/global';

.workout-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;

    .add-workout {
        margin-bottom: 40px;
    }
}

.workout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    .generated-workout {
        background-color: $secondary-light;
        padding: 20px;
        border-radius: 10px;
    }
}

.session-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .workout-title {
        color: $primary-white;
        font-size: 2rem;
        font-weight: 700;
    }

    .session-box {
        display: flex;
        gap: 20px;
    }
}

.custom-exercise-container {
    border-radius: 10px;
    width: 100%;
    padding: 20px;

    .add-exercise {
        margin-bottom: 20px;
    }

    .custom-exercise-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 1px solid $brand-orange;
        background-color: $secondary-dark;
        padding: 20px;

        .custom-exercise-header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .custom-exercise-title {
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: $primary-white;
        }
    }
}

.exercise-table-header {
    margin-bottom: 20px;
    width: 100%;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: $primary-white;
    }
}

.exercise-table-body {
    width: 100%;
    margin-bottom: 20px;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    li {
        background-color: $primary-white;
        display: flex;
        width: 100%;
        font-size: 20px;
        color: $primary-black;
        padding: 10px;
        border-radius: 10px;
    }
}

.add-btn {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

// --- BUTTONS ---

.remove-btn,
.add-btn {
    font-size: 1rem;
    color: $primary-white;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 50px;
}

.add-btn.success {
    background-color: $success;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: $success-hover;
    }
    &:active {
        background-color: $success-pressed;
    }
}

.remove-btn.danger {
    background-color: $danger;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: $danger-hover;
    }
    &:active {
        background-color: $danger-pressed;
    }
}

.remove-icon,
.save-icon,
.add-icon {
    color: $primary-black;
    margin-left: 10px;
}

.sm {
    padding: 10px 15px;
    border-radius: 50px;
}

.lg {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
}
